<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: Arial, Helvetica, sans-serif;
		}
	</style>
	<body
		style="
			min-height: 500px;
			display: flex;
			align-items: center;
			justify-items: center;
			color: #1e293b;
			font-family: Arial, Helvetica, sans-serif;
		"
	>
		<div
			style="
				padding: 3rem;
				width: 35rem;
				background: #f1f5f9;
				border: 1 solid #475569;
				box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
				height: 100%;
				margin: 0 auto;
			"
		>
			<h1
				style="
					font-size: 1.5rem;
					font-weight: 500;
					line-height: 0.5rem;
					text-align: center;
				"
			>
				Titanium Printing
			</h1>
			<h1 style="font-size: 2rem; text-align: center; font-weight: 600">
				Aktivasi Email Pendaftaran Member
			</h1>

			<div
				style="
					border-top: solid 1px #475569;
					border-bottom: solid 1px #475569;
					padding: 1rem 0;
					margin: 1.75rem 0;
				"
			>
				<p style="margin-bottom: 3rem">
					Hi ${firstName}, Silahkan klik tombol aktivasi email untuk melanjutkan
					proses pendaftaran member anda.
				</p>

				<a
					href="${process.env.APP_BASEURL}:${process.env.APP_PORT}/api/auth/email-verify/${userData.email}?token=${userData.token}"
					style="
						width: 60%;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #3b82f6;
						color: #fff;
						font-weight: 600;
						font-size: 1.75rem;
						margin: 0 auto;
						padding: 2.5rem 0;
						text-decoration: none;
						line-height: 0;
						border-radius: 1rem;
						text-align: center;
					"
				>
					Aktivasi Akun
				</a>
				<p
					style="
						margin-top: 1rem;
						margin-bottom: 2.5rem;
						text-align: center;
						color: red;
						font-weight: 500;
					"
				>
					Expired: ${formatTimestamp(userData.expiredAt)}
				</p>

				<p style="font-size: 15px">
					Jika tombol tidak berfungsi silahkan melanjutkan dengan link berikut:
					<a
						href="${process.env.APP_BASEURL}:${process.env.APP_PORT}/api/auth/email-verify/${userData.email}?token=${userData.token}"
					>
						${process.env.APP_BASEURL}:${process.env.APP_PORT}/api/auth/email-verify/${userData.email}?token=${userData.token}
					</a>
				</p>
			</div>
			<p style="margin-top: 1.5rem; color: #64748b; font-size: 14px">
				Abaikan pesan ini, jika anda memang tidak merasa melakukan pendaftaran
				Member di
				<a href="" style="text-decoration: none; color: #64748b"
					>Titanium Printing</a
				>
			</p>
			<p style="margin-top: 0.75rem; font-size: 14px; font-weight: 500">
				Hubungi:
				<a href="mailto:halo.titaniumprinting@gmail.com"
					>halo.titaniumprinting@gmail.com</a
				>
			</p>
		</div>
	</body>
</html>
